* {
  margin: 0;
  font-family: Ubuntu, sans-serif;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(92, 158, 173);
  width: calc(100vw - 40px);
}

#cabecalho_content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  gap: 8px;
}

nav {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: rgb(238, 238, 238);
}

.header {
  display: inline-block;
  font-family: Ubuntu, sans-serif;
  font-size: 30px;
  color: rgb(50, 98, 115);
  text-shadow: 1px 1px white;
}

ul {
  list-style-image: url('circle.png');
}

header ul {
  display: inline-block;
}

header li {
  display: inline-block;
  padding: 12px 20px;
  background-color: rgb(50, 98, 115);
  color: rgb(238, 238, 238);
  border-radius: 8%;
}

li:hover {
  background-color: rgb(238, 238, 238);
  color: rgb(92, 158, 173);
}

#minha_foto {
  max-width: 120px;
  border-radius: 10%;
  margin: 0 50%;
  border: 4px solid rgb(50, 98, 115);
}

p {
  font-size: 14px;
  color: black;
  line-height: 15px;
}

main {
  display: flex;
  width: 100vw;
  max-width: 1000px;
  background-color: rgb(238, 238, 238);
}

aside {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  background-color: rgb(92, 158, 173);
  gap: 16px;
  padding: 30px;
}

article {
  padding: 20px;
}

article p {
  padding: 0 80px;
}

h2 {
  font-size: 25px;
  color: rgb(50, 98, 115);
  text-align: center;
  padding: 10px;
}

#rodape {
  text-align: center;
  background-color: rgb(50, 98, 115);
  padding: 10px 0;
  color: black;
  width: 100%;
  max-width: 1000px;
}

aside p {
  text-align: justify;
  font-size: 14px;
  margin: 0% 20%;
}

#licoes_aprendidas h2 {
  font-size: 25px;
}

#licoes_a_aprender h2 {
  font-size: 25px;
}

h3 {
  margin-top: 3%;
  margin-left: 42%;
}

table {
  margin: 1% 44%;
  background-color: white;
}

ol {
  list-style-image: url('correct.png');
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#licoes {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}
