* {
  margin: 0;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  position: fixed;
	padding: 20px;
	background-color: #5c9ead;
	width: 100%;
	/* text-align: center; */

}

a {
	text-decoration: none;
	color: #EEEEEE;
}

.header {
	display: inline-block;
	width: 400px;
	/* background-color: red; */
	margin-left: 200px;
	font-family: 'Ubuntu';
	font-size: 30px;
	color: #326273;
	text-shadow: 1px 1px #FFFFFF;
	
}

nav {
	display: inline-block;
	width: 400px;
	margin-left: 100px;
}

header ul {
	display: inline-block;
}

header li {
	display: inline-block;
	padding: 12px 20px;
	background-color: #326273;
	color: #EEEEEE;
	border-radius: 8%;
}

li:hover {
	background-color: #EEEEEE;
	color: #5c9ead;
}

#minha_foto {
  width: 50%;
  border-radius: 10%;
  margin: 4% 25%;
  border: 4px solid #326273;
}

p {
  font-size: 14px;
  color: #000000;
  line-height: 15px;
}

main {
	margin-top: 10%;
	margin-left: 100px;
  display: inline-block;
  width: 50%;
	height: 600px;
	background-color: #EEEEEE;
}

aside {
	position: absolute;
  display: inline-block;
  width: 16%;
	height: 600px;
	background-color: #5C9EAD;
	margin-top: 185px;
}

h2 {
	font-size: 25px;
	color: #326273;
	text-align: center;
	padding: 10px;
}

.lado-esquerdo {
	width: 50%;
	text-align: justify;
	/* background-color: red; */
	margin: 2% 25%;
}

#rodape {
	text-align: center;
	background-color: #326273;
	margin-left: 100px;
	width: 66%;
	padding: 10px 0px;
	color: #FFFFFF;
}

aside p {
	text-align: justify;
	font-size: 14px;
	padding: 10% 10%;
	margin: 0% 10%;
}

#licoes_aprendidas h2{
	font-size: 25px;
	margin-left: -35%;
}

#licoes_a_aprender h2{
	font-size: 25px;
	margin-left: -35%;
}

#licoes_aprendidas {
	display: inline-block;
	width: 300px;
	/* background-color: red; */
	margin-left: 18%;
}

#licoes_a_aprender {
	display: inline-block;
	width: 300px;
	/* background-color: blue; */

}

h3 {
	margin-top: 3%;
	margin-left: 42%;
}

table {
	margin: 1% 44%;
	background-color: #FFFFFF;
}

ul {
	list-style-image: url(circle.png);
}

ol {
	list-style-image: url(correct.png);
}
