* {
  margin: 0;
  font-family: Ubuntu, sans-serif;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  position: fixed;
  padding: 20px;
  background-color: rgb(92, 158, 173);
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(238, 238, 238);
}

.header {
  display: inline-block;
  width: 400px;
  margin-left: 200px;
  font-family: Ubuntu, sans-serif;
  font-size: 30px;
  color: rgb(50, 98, 115);
  text-shadow: 1px 1px white;
}

nav {
  display: inline-block;
  width: 400px;
  margin-left: 100px;
}

ul {
  list-style-image: url('circle.png');
}

header ul {
  display: inline-block;
}

header li {
  display: inline-block;
  padding: 12px 20px;
  background-color: rgb(50, 98, 115);
  color: rgb(238, 238, 238);
  border-radius: 8%;
}

li:hover {
  background-color: rgb(238, 238, 238);
  color: rgb(92, 158, 173);
}

#minha_foto {
  width: 50%;
  border-radius: 10%;
  margin: 4% 25%;
  border: 4px solid rgb(50, 98, 115);
  margin-top: 20%;
}

p {
  font-size: 14px;
  color: black;
  line-height: 15px;
}

main {
  margin-top: 10%;
  margin-left: 100px;
  display: inline-block;
  width: 50%;
  height: 600px;
  background-color: rgb(238, 238, 238);
}

aside {
  position: absolute;
  display: inline-block;
  width: 16%;
  height: 600px;
  background-color: rgb(92, 158, 173);
  margin-top: 185px;
}

h2 {
  font-size: 25px;
  color: rgb(50, 98, 115);
  text-align: center;
  padding: 10px;
}

.lado-esquerdo {
  width: 50%;
  text-align: justify;
  margin: 2% 25%;
}

#rodape {
  text-align: center;
  background-color: rgb(50, 98, 115);
  margin-left: 100px;
  width: 66%;
  padding: 10px;
  color: white;
}

aside p {
  text-align: justify;
  font-size: 14px;
  padding: 10%;
  margin: 0% 10%;
}

#licoes_aprendidas h2 {
  font-size: 25px;
  margin-left: -35%;
}

#licoes_a_aprender h2 {
  font-size: 25px;
  margin-left: -35%;
}

#licoes_aprendidas {
  display: inline-block;
  width: 300px;
  margin-left: 18%;
}

#licoes_a_aprender {
  display: inline-block;
  width: 300px;
}

h3 {
  margin-top: 3%;
  margin-left: 42%;
}

table {
  margin: 1% 44%;
  background-color: white;
}

ol {
  list-style-image: url('correct.png');
}
