* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(bgshadow.png);
}

h1 {
    font-family: 'Paytone One', sans-serif;    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200px;
    margin-left: 8%;
    margin-top: -35%;
    text-shadow: 3px 1px 1px rgba(255,255,255,0.88);
    color: #E12B2B;
}

h2 {
    font-size: 100px;
    font-family: 'Paytone One', sans-serif;
    text-transform: uppercase;
    color: #E12B2B;
    text-shadow: 2px 2px black;
    margin-left: 440px;
}

h3 {
    font-size: 30px;
    margin-left: 40px;
    font-family: 'Ubuntu';
    margin-left: 430px;
    margin-top: -20px;
}

.subshadow {
    position: absolute;
    font-size: 50px;
    color: #E12B2B;
    margin-top: 180px;
    padding: 40px 50px;
    margin-left: -38%;
}

.shadow-header {
    margin-left: 60%;
    padding: 80px;
    height: 800px;
    position: static;
}

.nav {
    display: inline-block;
    margin-left: 390px;
    margin-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    display: inline-block;
    padding: 20px;
    border: 1px solid white;
    background-color: #E12B2B;
}

a li:hover {
    color: black;
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

main {
    display: inline-block;
    margin-top: 280px;
    width: 100%;
}

.imghistoria {
    width: 500px;
    margin-left: 910px;
    margin-top: -750px;
}

.biografia {
    width: 500px;
    color: white;
    background-color: black;
    padding: 30px;
    margin-left: 400px;
    height: 400px;
    font-family: 'Ubuntu';
    border-radius: 10%;
    text-align: justify;
}

.biografia p{
    padding: 20px;
    font-size: 15px;
}

strong {
    font-weight: bold;
}

.perso {
    background-image: url(bgperso.jpg);
    background-color: #272725;
    margin-top: 50px;
    padding: 50px;
}

.perso h2 {
    margin-left: 800px;
}

.perso h3 {
    margin-left: 900px;
}

.intj {
    width: 500px;
    color: white;
    background-color: black;
    padding: 30px;
    margin-left: 800px;
    height: 400px;
    font-family: 'Ubuntu';
    border-radius: 10%;
    text-align: justify;
}

.imgperso {
    width: 450px;
    margin-top: -600px;
    margin-left: 380px;
}

.intj p{
    padding: 20px;
    font-size: 15px;
}

.grupodebotoes {
    margin-left: 620px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}

.botao {
    padding: 20px 100px;
    font-family: 'Ubuntu';
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#E12B2B;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:18px;
	padding:20px 68px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

.botao:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}

.botao:active {
	position:relative;
	top:1px;
}

.hab {
    width: 500px;
    color: white;
    background-color: black;
    padding: 30px;
    margin-left: 500px;
    height: 500px;
    font-family: 'Ubuntu';
    text-align: justify;
    border-radius: 10%;
    /* margin-top: 150px; */
}

.hab h2 {
    font-size: 40px;
    margin-left: 50px;
    text-shadow: 1px 1px white;

}

.hab p {
    padding: 20px;
}

.imgskills {
    width: 450px;
    margin-left: 450px;
    margin-top: -520px;
}

.imgskills2 {
    width: 600px;
    margin-left: 400px;
    margin-top: -700px;
}

.imgskills3 {
    width: 520px;
    margin-left: 400px;
    margin-top: -700px;
}

footer {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: #E12B2B;
    text-align: center;
    color: white;
    font-family: 'Ubuntu';
}

